Repository ponyozoo/Produce365, pull requests merged in 2024-10, with the labels that each got.

#2 [FEAT] : INSERT, DELETE, FINDALL 구현 완료
  build/classes/produce365/care/Care.class
  src/main/java/produce365/care/Care.java
  src/main/java/produce365/care/CareDAO.java
  src/main/java/produce365/care/CareHistory.java
  src/main/java/produce365/care/CareHistoryDAO.java
  src/main/java/produce365/care/CareServlet.java
  src/main/java/produce365/care/DataSource.java
  src/main/java/produce365/care/JDBCCareDAO.java
  src/main/java/produce365/care/JDBCCareHistoryDAO.java
  src/main/webapp/care/careList.jsp
  src/main/webapp/care/careNew.jsp
  src/main/webapp/lesson/lessonList.jsp
Labels: 💫 FEAT, ☕ JAVA, 🪡 JDBC

#3 [FEAT] : Trainee클래스 생성자 추가
  build/classes/produce365/trainee/Trainee.class
  src/main/java/produce365/trainee/Trainee.java
Labels: ☕ JAVA

#4 [FEAT] : complete trainee list page
  src/main/java/produce365/account/DataSource.java
  src/main/java/produce365/account/LoginFilter.java
  src/main/java/produce365/account/LoginServlet.java
  src/main/java/produce365/trainee/DataSource.java
  src/main/java/produce365/trainee/TraineeListServlet.java
  src/main/java/produce365/trainee/TraineeServlet.java
  src/main/webapp/common/header.jsp
  src/main/webapp/common/menu.jsp
  src/main/webapp/trainee/trainee.jsp
  src/main/webapp/trainee/traineeNew.jsp
Labels: 💫 FEAT, ☕ JAVA, 🐛 FIX

#5 [MERGE] : main에 병합
  build/classes/produce365/trainee/Trainee.class
  src/main/java/produce365/rating/JDBCRatingDAO.java
  src/main/java/produce365/rating/Rating.java
  src/main/java/produce365/rating/RatingDAO.java
  src/main/java/produce365/trainee/Trainee.java
  src/main/java/produce365/trainee/TraineeServlet.java
Labels: ⚙️ CHORE

#6 [FEAT] : 데뷔조 insert 기능 구현 및 debutMemberSelect 페이지 생성.
  build/classes/produce365/debut/Debut.class
  src/main/java/produce365/debut/DataSource.java
  src/main/java/produce365/debut/Debut.java
  src/main/java/produce365/debut/DebutDAO.java
  src/main/java/produce365/debut/DebutServlet.java
  src/main/java/produce365/debut/JDBCDebutDAO.java
  src/main/webapp/debut/debutMemberSelect.jsp
  src/main/webapp/debut/debutNew.jsp
Labels: 💫 FEAT, ☕ JAVA, 🪡 JDBC

#8 [FEAT] : 케어기록 입력, 저장, 전체목록보기 기능 구현
  ALLTEST.sql
  build/classes/produce365/care/Care.class
  src/main/java/produce365/account/DataSource.java
  src/main/java/produce365/care/Care.java
  src/main/java/produce365/care/CareHistory.java
  src/main/java/produce365/care/CareHistoryDAO.java
  src/main/java/produce365/care/CareHistoryServlet.java
  src/main/java/produce365/care/CareServlet.java
  src/main/java/produce365/care/JDBCCareHistoryDAO.java
  src/main/java/produce365/care/Main.java
  src/main/java/produce365/trainee/DataSource.java
  src/main/webapp/care/careHistoryList.jsp
  src/main/webapp/care/careHistoryNew.jsp
  src/main/webapp/care/careList.jsp
  src/main/webapp/care/careNew.jsp
Labels: 💫 FEAT, ☕ JAVA, 🪡 JDBC

#9 [FEAT] : 데뷔조 생성 표 내 연습생 추가 버튼 클릭하면 모달 팝업창으로 연습생 추가창 띄우기 기능 추가.
  src/main/java/produce365/debut/DebutServlet.java
  src/main/webapp/debut/debutMemberSelect.jsp
  src/main/webapp/debut/debutNew.jsp
Labels: 💫 FEAT

#10 [FIX] : CARE관련 파일 수정
  src/main/java/produce365/care/CareHistoryServlet.java
  src/main/java/produce365/care/CareServlet.java
  src/main/webapp/care/careHistoryList.jsp
  src/main/webapp/care/careHistoryNew.jsp
  src/main/webapp/care/careList.jsp
  src/main/webapp/care/careNew.jsp
Labels: 🐛 FIX, ⚒️ REFACTOR

#11 [FEAT] : Lesson/LessonHistory 기능구현 완료
  build/classes/produce365/lesson/Lesson.class
  src/main/java/produce365/lesson/JDBCLessonDAO.java
  src/main/java/produce365/lesson/JDBCLessonHistoryDAO.java
  src/main/java/produce365/lesson/Lesson.java
  src/main/java/produce365/lesson/LessonDAO.java
  src/main/java/produce365/lesson/LessonHistory.java
  src/main/java/produce365/lesson/LessonHistoryDAO.java
  src/main/java/produce365/lesson/LessonHistoryServlet.java
  src/main/java/produce365/lesson/LessonServlet.java
  src/main/webapp/lesson/lessonHistoryList.jsp
  src/main/webapp/lesson/lessonHistoryNew.jsp
  src/main/webapp/lesson/lessonList.jsp
  src/main/webapp/lesson/lessonNew.jsp
Labels: 💫 FEAT, ☕ JAVA, 🪡 JDBC

#13 [FEAT] : TraineeServlet에 update, delete 기능 구현
  build/classes/produce365/trainee/Trainee.class
  src/main/java/produce365/trainee/JDBCTraineeDAO.java
  src/main/java/produce365/trainee/Trainee.java
  src/main/java/produce365/trainee/TraineeServlet.java
  src/main/webapp/trainee/traineeDetail.jsp
Labels: 💫 FEAT, ☕ JAVA

#14 [STYLE] : care 추가 모달 완료 & careHistory 모달 진행 중
  build/classes/produce365/lesson/Lesson.class
  src/main/java/produce365/care/CareHistoryServlet.java
  src/main/java/produce365/care/CareServlet.java
  src/main/java/produce365/care/JDBCCareDAO.java
  src/main/java/produce365/care/JDBCCareHistoryDAO.java
  src/main/webapp/care/careHistoryList.jsp
  src/main/webapp/care/careHistoryNew.jsp
  src/main/webapp/care/careList.jsp
  src/main/webapp/care/careNew.jsp
  src/main/webapp/common/link.jsp
  src/main/webapp/test.jsp
  src/main/webapp/test2.jsp
Labels: 💫 FEAT, 🐛 FIX, 🎨 STYLE

#17 [STYLE] : lessonHistory new 모달화 완료
  src/main/java/produce365/care/CareServlet.java
  src/main/java/produce365/common/EncodingFilter.java
  src/main/java/produce365/lesson/LessonHistoryServlet.java
  src/main/java/produce365/lesson/LessonServlet.java
  src/main/webapp/care/careHistoryNew.jsp
  src/main/webapp/care/careNew.jsp
  src/main/webapp/common/link.jsp
  src/main/webapp/lesson/lessonHistoryList.jsp
  src/main/webapp/lesson/lessonHistoryNew.jsp
  src/main/webapp/lesson/lessonList.jsp
  src/main/webapp/lesson/lessonNew.jsp
Labels: ☕ JAVA, 🐛 FIX, 🎨 STYLE

#18 [FEAT] : Care, Lesson findAll순서 변경
  src/main/java/produce365/lesson/JDBCLessonDAO.java
  src/main/java/produce365/lesson/JDBCLessonHistoryDAO.java
Labels: 🐛 FIX, 🪡 JDBC

#20 [FEAT] : 데뷔조 삭제 기능 구현 완료.
  src/main/java/produce365/debut/DebutServlet.java
  src/main/webapp/debut/debutNew.jsp
  src/main/webapp/debut/debutUpdate.jsp
Labels: 💫 FEAT

#21 [FEAT] : traineeSearch 페이지 생성 & 구현 완료
  src/main/java/produce365/debutMember/DataSource.java
  src/main/java/produce365/debutMember/JDBCDebutMemberDAO.java
  src/main/java/produce365/rating/JDBCRatingDAO.java
  src/main/java/produce365/trainee/JDBCTraineeDAO.java
  src/main/java/produce365/trainee/traineeSearchServlet.java
  src/main/webapp/care/careHistoryNew.jsp
  src/main/webapp/care/careNew.jsp
  src/main/webapp/common/link.jsp
  src/main/webapp/lesson/lessonHistoryNew.jsp
  src/main/webapp/lesson/lessonNew.jsp
  src/main/webapp/trainee/traineeSearch.jsp
Labels: 💫 FEAT, ☕ JAVA, 🎨 STYLE
