Repository ponyozoo/Produce365, pull requests merged in 2024-09, with the labels that each got.

#5 [FEAT] : create Debut, DebutMember class
  Java/bin/space/produce/debut/Debut.class
  Java/bin/space/produce/debutMember/DebutMember.class
  Java/src/space/produce/debut/Debut.java
  Java/src/space/produce/debutMember/DebutMember.java
Labels: 💫 FEAT, ☕ JAVA

#6 [FEAT] : Trainee , Rating 클래스 파일 작성
  Java/src/space/produce/rating/Rating.java
  Java/src/space/produce/trainee/Trainee.java
  Oracle/RATING.sql
  Oracle/TRAINEE.sql
Labels: 💫 FEAT, ☕ JAVA

#7 [FEAT] : Care, CareHistory, Lesson, LessonHistory 클래스 생성
  Java/bin/space/produce/care/Care.class
  Java/src/space/produce/care/Care.java
  Java/src/space/produce/careHistory/CareHistory.java
  Java/src/space/produce/lesson/Lesson.java
  Java/src/space/produce/lessonHistory/LessonHistory.java
Labels: 💫 FEAT, ☕ JAVA

#9 [CHORE] : datasource 추가
  Java/bin/space/produce/lesson/JDBCLessonDao.class
  Java/bin/space/produce/lesson/LessonDAO.class
  Java/bin/space/produce/lessonHistory/JDBCLessonHistoryDao.class
  Java/bin/space/produce/lessonHistory/LessonHistoryDAO.class
  Java/bin/space/produce/util/DataSource.class
Labels: ⚙️ CHORE, ☕ JAVA

#10 [CHORE] : DataSource 추가
  Java/src/space/produce/lesson/JDBCLessonDao.java
  Java/src/space/produce/lesson/LessonDAO.java
  Java/src/space/produce/lessonHistory/JDBCLessonHistoryDao.java
  Java/src/space/produce/lessonHistory/LessonHistoryDAO.java
  Java/src/space/produce/util/DataSource.java
Labels: ⚙️ CHORE, ☕ JAVA

#11 [FEAT] Care, CareHistory DAO 추가
  Java/src/space/produce/care/CareDAO.java
  Java/src/space/produce/care/JDBCCareDao.java
  Java/src/space/produce/careHistory/CareHistoryDAO.java
  Java/src/space/produce/careHistory/JDBCCareHistoryDao.java
Labels: 💫 FEAT, ☕ JAVA

#12 [FEAT] : Create Lesson, LessonHistory DAO & Modify LessonHistory column name & Add Trainee Constructor
  Java/bin/space/produce/lesson/JDBCLessonDao.class
  Java/bin/space/produce/lesson/Lesson.class
  Java/bin/space/produce/lessonHistory/JDBCLessonHistoryDao.class
  Java/bin/space/produce/lessonHistory/LessonHistory.class
  Java/bin/space/produce/trainee/Trainee.class
  Java/src/space/produce/lesson/JDBCLessonDao.java
  Java/src/space/produce/lesson/Lesson.java
  Java/src/space/produce/lessonHistory/JDBCLessonHistoryDao.java
  Java/src/space/produce/lessonHistory/LessonHistory.java
  Java/src/space/produce/trainee/Trainee.java
  Oracle/LESSON_HISTORY.sql
Labels: 💫 FEAT, 🪡 JDBC

#15 [FEAT] : JdbcRatingDao 기능 메소드 구현 완료 , JdbcTraineeDao 기능 메소드 구현 완료
  Java/src/space/produce/rating/JdbcRatingDao.java
  Java/src/space/produce/rating/RatingDao.java
  Java/src/space/produce/trainee/JdbcTraineeDao.java
  Java/src/space/produce/trainee/TraineeDao.java
  Oracle/RATING.sql
  Oracle/TRAINEE.sql
Labels: 💫 FEAT, ☕ JAVA

#17 [FIX] : JDBCCareDao, JDBCCareHistoryDao 코드 수정
  Java/src/space/produce/care/Care.java
  Java/src/space/produce/care/JDBCCareDao.java
  Java/src/space/produce/careHistory/JDBCCareHistoryDao.java
Labels: 🐛 FIX, ☕ JAVA

#18 [FEAT,FIX] : DebutMenu readDebut 메소드 기능 구현 및 JDBCDebutMemberDao selectByGroup 객체 위치 수정
  Java/src/space/produce/debutMember/JDBCDebutMemberDao.java
  Java/src/space/produce/menu/DebutMenu.java
Labels: 🐛 FIX, 💫 FEAT, ☕ JAVA

#19 [FEAT] : CareMenu, HistoryMenu 메소드 구현
  Java/src/space/produce/menu/CareMenu.java
  Java/src/space/produce/menu/HistoryMenu.java
Labels: 💫 FEAT, ☕ JAVA

#20 [FEAT] : readTraineeAll, deleteTrainee, updateTrainee 메소드 생성
  Java/src/space/produce/menu/TraineeMenu.java
Labels: 💫 FEAT, ☕ JAVA

#21 [FIX] : CareMenu deleteCare 메서드 id -> 번호 입력으로 변경
  Java/src/space/produce/menu/CareMenu.java
Labels: 🐛 FIX, ☕ JAVA

#22 [FEAT,FIX] : 메소드 2개 기능 구현 및 DebutMenu 클래스 내 메소드 일체 수정.
  Java/src/space/produce/menu/DebutMenu.java
  Java/src/space/produce/trainee/JdbcTraineeDao.java
  Java/src/space/produce/trainee/TraineeDao.java
Labels: 💫 FEAT, ☕ JAVA, 🪡 JDBC

#23 [FEAT] : Feature LessonMenu Method
  Java/src/space/produce/menu/HistoryMenu.java
  Java/src/space/produce/menu/LessonMenu.java
  Java/src/space/produce/util/MyScanner.java
  Oracle/LESSON_HISTORY.sql
Labels: 💫 FEAT, 🗄️ DB, ☕ JAVA

#25 [TEST] : create test sql file
  Oracle/ALLTEST.sql
Labels: 🗄️ DB, 🧪 TEST

#24 [FEAT] : HistoryMenu 클래스의 addCareHistory 메서드 구현
  Java/src/space/produce/care/Care.java
  Java/src/space/produce/menu/CareMenu.java
  Java/src/space/produce/menu/HistoryMenu.java
  Oracle/CARE_HISTORY.sql
Labels: 💫 FEAT, ☕ JAVA

#26 [FIX] : debutMenu 클래스 내 값 입력받는 방식 수정.
  Java/src/space/produce/menu/DebutMenu.java
Labels: 🐛 FIX

#28 [FEAT] : CareMenu 클래스, HistoryMenu 클래스 메뉴 조회 기능 구현
  Java/src/space/produce/menu/CareMenu.java
  Java/src/space/produce/menu/HistoryMenu.java
Labels: 💫 FEAT, ☕ JAVA

#29 [FIX] : selectByGroup 메소드 테이블 3개를 join하여 값을 받아오는 것으로 수정
  Java/src/space/produce/debutMember/JDBCDebutMemberDao.java
Labels: 🐛 FIX, 🪡 JDBC

#30 [FEAT] : Add Main & Print code
  Java/bin/space/produce/care/Care.class
  Java/bin/space/produce/careHistory/CareHistory.class
  Java/bin/space/produce/debut/Debut.class
  Java/bin/space/produce/debutMember/DebutMember.class
  Java/bin/space/produce/lesson/Lesson.class
  Java/bin/space/produce/lessonHistory/JDBCLessonHistoryDao.class
  Java/bin/space/produce/lessonHistory/LessonHistory.class
  Java/bin/space/produce/trainee/Trainee.class
  Java/src/space/produce/care/Care.java
  Java/src/space/produce/careHistory/CareHistory.java
  Java/src/space/produce/careHistory/JDBCCareHistoryDao.java
  Java/src/space/produce/lesson/Lesson.java
  Java/src/space/produce/lessonHistory/JDBCLessonHistoryDao.java
  Java/src/space/produce/lessonHistory/LessonHistory.java
  Java/src/space/produce/main/Main.java
  Java/src/space/produce/menu/CareMenu.java
  Java/src/space/produce/menu/HistoryMenu.java
  Java/src/space/produce/menu/LessonMenu.java
  Java/src/space/produce/menu/MainMenu.java
  Java/src/space/produce/trainee/Trainee.java
Labels: 💫 FEAT, ☕ JAVA, 🪡 JDBC

#27 [FEAT] : addTrainee메소드 생성 완료했습니다
  Java/src/space/produce/menu/TraineeMenu.java
  Java/src/space/produce/trainee/JdbcTraineeDao.java
  Java/src/space/produce/trainee/TraineeDao.java
  Java/src/space/produce/util/Util.java
Labels: 💫 FEAT, ☕ JAVA

#31 [FIX] : modify debut menu
  Java/bin/space/produce/debut/Debut.class
  Java/src/space/produce/debut/Debut.java
  Java/src/space/produce/debutMember/JDBCDebutMemberDao.java
  Java/src/space/produce/menu/DebutMenu.java
Labels: 🐛 FIX, 💫 FEAT, ☕ JAVA

#32 TraineeMenu 클래스 addTrainee메소드의 randomID 중복 확인 while문 구현
  Java/bin/space/produce/debutMember/DebutMember.class
  Java/src/space/produce/debutMember/DebutMember.java
  Java/src/space/produce/debutMember/JDBCDebutMemberDao.java
  Java/src/space/produce/menu/TraineeMenu.java
  Java/src/space/produce/rating/JdbcRatingDao.java
Labels: 🐛 FIX, ☕ JAVA

#33 [REFACTOR] : 최종 수정
  Java/bin/space/produce/care/CareDao.class
  Java/bin/space/produce/care/JDBCCareDao.class
  Java/bin/space/produce/careHistory/CareHistoryDao.class
  Java/bin/space/produce/careHistory/JDBCCareHistoryDao.class
  Java/bin/space/produce/debut/DebutDao.class
  Java/bin/space/produce/debut/JDBCDebutDao.class
  Java/bin/space/produce/debutMember/DebutMemberDao.class
  Java/bin/space/produce/debutMember/JDBCDebutMemberDao.class
  Java/bin/space/produce/lesson/JDBCLessonDao.class
  Java/bin/space/produce/lesson/LessonDAO.class
  Java/bin/space/produce/lessonHistory/JDBCLessonHistoryDao.class
  Java/bin/space/produce/lessonHistory/LessonHistoryDAO.class
  Java/bin/space/produce/main/Main.class
  Java/bin/space/produce/menu/CareMenu.class
  Java/bin/space/produce/menu/DebutMenu.class
  Java/bin/space/produce/menu/HistoryMenu.class
  Java/bin/space/produce/menu/LessonMenu.class
  Java/bin/space/produce/menu/MainMenu.class
  Java/bin/space/produce/menu/TraineeMenu.class
  Java/bin/space/produce/rating/JDBCRatingDao.class
  Java/bin/space/produce/rating/RatingCategory.class
  Java/bin/space/produce/rating/RatingDao.class
  Java/bin/space/produce/trainee/JDBCTraineeDao.class
  Java/bin/space/produce/trainee/Trainee.class
  Java/bin/space/produce/trainee/TraineeDao.class
  Java/bin/space/produce/util/MyScanner.class
  Java/bin/space/produce/util/Util.class
  Java/src/space/produce/care/CareDao.java
  Java/src/space/produce/care/JDBCCareDao.java
  Java/src/space/produce/careHistory/CareHistoryDao.java
  Java/src/space/produce/careHistory/JDBCCareHistoryDao.java
  Java/src/space/produce/debut/JDBCDebutDao.java
  Java/src/space/produce/debutMember/JDBCDebutMemberDao.java
  Java/src/space/produce/lesson/JDBCLessonDao.java
  Java/src/space/produce/lesson/LessonDao.java
  Java/src/space/produce/lessonHistory/JDBCLessonHistoryDao.java
  Java/src/space/produce/lessonHistory/LessonHistoryDao.java
  Java/src/space/produce/menu/CareMenu.java
  Java/src/space/produce/menu/DebutMenu.java
  Java/src/space/produce/menu/HistoryMenu.java
  Java/src/space/produce/menu/LessonMenu.java
  Java/src/space/produce/menu/MainMenu.java
  Java/src/space/produce/menu/TraineeMenu.java
  Java/src/space/produce/rating/JDBCRatingDao.java
  Java/src/space/produce/rating/RatingCategory.java
  Java/src/space/produce/trainee/JDBCTraineeDao.java
  Java/src/space/produce/trainee/Trainee.java
  Java/src/space/produce/trainee/TraineeDao.java
  Java/src/space/produce/util/MyScanner.java
  Java/src/space/produce/util/Util.java
  Oracle/ALLTEST.sql
Labels: 🐛 FIX, 💫 FEAT, ⚒️ REFACTOR, 🧪 TEST, ☕ JAVA, 🪡 JDBC
